@model ErrorGun.Web.Models.AdminModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>ErrorGun Admin</title>
    </head>
    <body>
        <div>
            Message: @Model.Message
        </div>
        <ul>
            <li>
                <span>Server Bitness:</span>
                <span>@Model.ServerBitness</span>
            </li>
            <li>
                <span>Process Bitness:</span>
                <span>@Model.ProcessBitness</span>
            </li>
        </ul>
        <div>
            <span>Apps:</span>
            <ul>
                @foreach (var app in Model.Apps)
                {
                    <li>
                        <span style="white-space: pre-line">@app.ToString()</span>
                    </li>
                }
            </ul>
            @Html.ActionLink("Prev", "Index", new { password = Model.Password, appPage = Model.AppPage - 1 })
            <span>Page: @Model.AppPage</span>
            @Html.ActionLink("Next", "Index", new { password = Model.Password, appPage = Model.AppPage + 1 })
        </div>
    </body>
</html>