@model ErrorGun.Web.Models.AdminModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>ErrorGun Admin</title>
    </head>
    <body style="font-family: Consolas">
        <div>
            Message: @Model.Message
        </div>
        <ul>
            <li>
                <span>Server Bitness:</span>
                <span>@Model.ServerBitness</span>
            </li>
            <li>
                <span>Process Bitness:</span>
                <span>@Model.ProcessBitness</span>
            </li>
        </ul>
        <div>
            <span>Apps:</span><br/>
            @if (Model.AppPage < 2) {
                <span>Prev</span>
            }
            else {
                @Html.ActionLink("Prev", "Index", new { password = Model.Password, appPage = Model.AppPage - 1 })
            }
            <span>Page: @Model.AppPage of @Model.AppPageCount</span>
            @if (Model.AppPage < Model.AppPageCount) {
                @Html.ActionLink("Next", "Index", new {password = Model.Password, appPage = Model.AppPage + 1})
            }
            else {
                <span>Next</span>
            }
            <ul>
                @foreach (var app in Model.Apps) {
                    <li>
                        <span style="white-space: pre-line">@app.ToString()</span>
                    </li>
                }
            </ul>
        </div>
    </body>
</html>