@model ErrorGun.Web.Models.AppModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Create App</title>
</head>
<body>
    <div>
        <h1>Create App</h1>
    </div>
        
    @using (Html.BeginForm()) {
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.ContactEmails, "Contact Emails (separate with commas)")
            @Html.TextAreaFor(model => model.ContactEmails)
        </div>
        <input type="submit" name="Create" value="Create"/>
    }
    <div>
        @Model.ErrorMessage
    </div>
</body>
</html>