@using ErrorGun.Web.App_Start
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - ErrorGun</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render(AppStyle.Skeleton)

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
</head>
<body>
    <div class="container clearfix" role="main" id="wrap">
        <header id="branding">
            <h1 class="remove-bottom"><a href="/">ErrorGun</a></h1>
            <h5>Dead Simple Error Reporting</h5>
        </header>

        @RenderBody()

        <br class="clear"/>
        <div id="footer">
            @if (ViewBag.IsHomePage == null || !ViewBag.IsHomePage) {
                @Html.ActionLink("Home", "Index", "Home")
            }
        </div>
    </div>
    @RenderSection("EndBodyScripts", required: false)
</body>
</html>