@model ErrorGun.Web.Models.AppModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>App Created</title>
</head>
<body>
    <div>
        <h1>App Created</h1>
            
        <div>
            ID: @Model.Id
        </div>
        <div>
            Name: @Model.Name
        </div>
        <div>
            Contact Email(s): @Model.ContactEmails
        </div>
        <div>
            API Key: @Model.ApiKey
        </div>
    </div>
    <div>
        Return @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>